USE [bt1]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 6/16/2026 3:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [int] NOT NULL,
	[ten_khach] [varchar](100) NULL,
	[dia_chi] [varchar](255) NULL,
	[numberphone] [varchar](11) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 6/16/2026 3:46:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] NOT NULL,
	[ten] [varchar](100) NULL,
	[id_ct] [int] NULL,
	[gia_tri] [decimal](10, 2) NULL,
	[so_luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[khach_hang] ([id], [ten_khach], [dia_chi], [numberphone], [status]) VALUES (1, N'Nguyen Van An', N'Ho Chi Minh', N'0912837465', 1)
INSERT [dbo].[khach_hang] ([id], [ten_khach], [dia_chi], [numberphone], [status]) VALUES (2, N'Tran Thi Bich', N'Ha Noi', N'0984736251', 1)
INSERT [dbo].[khach_hang] ([id], [ten_khach], [dia_chi], [numberphone], [status]) VALUES (3, N'Le Minh Quan', N'Da Nang', N'0359182736', 1)
GO
INSERT [dbo].[san_pham] ([id], [ten], [id_ct], [gia_tri], [so_luong]) VALUES (1, N'Samsung Galaxy S24', 1, CAST(22000000.00 AS Decimal(10, 2)), 40)
INSERT [dbo].[san_pham] ([id], [ten], [id_ct], [gia_tri], [so_luong]) VALUES (2, N'Samsung Galaxy A55', 1, CAST(9000000.00 AS Decimal(10, 2)), 50)
INSERT [dbo].[san_pham] ([id], [ten], [id_ct], [gia_tri], [so_luong]) VALUES (3, N'Samsung TV 55 inch', 1, CAST(15000000.00 AS Decimal(10, 2)), 15)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_phone]    Script Date: 6/16/2026 3:46:48 PM ******/
ALTER TABLE [dbo].[khach_hang] ADD  CONSTRAINT [uq_phone] UNIQUE NONCLUSTERED 
(
	[numberphone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD FOREIGN KEY([id_ct])
REFERENCES [dbo].[cong_ty] ([id])
GO
